<doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Projeto Enunciado 3 - 5) Desenvolvimento da Aplicacao </title>
    </head>
    <body  style="padding:20px">
        <h3> Aplicacao </h3><br>
        <a href="categoria">a) Inserir e remover categorias e sub-categorias.</a><br>
        <a href="retalhista">b) Inserir e remover um retalhista, com todos os seus produtos.</a><br>
        <a href="evento_reposicao">c) Listar todos os eventos de reposicao de uma IVM.</a><br>
        <a href="sub_categorias">d) Listar todas as sub-categorias de uma super-categoria.</a>
    </body>
</html>