<doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title> Projeto Enunciado 3 - c) Eventos Reposicao </title>
        </head>
        <body  style="padding:20px">
                <h3> Listar Eventos de IVM</h3>
                <br>
                <form action="evento_reposicao/result" method="post">
                    <p>N&uacute;mero da S&eacute;rie de IVM <select name="num_serie">
                        {% for num_serie in nums_serie %}
                            <option value={{num_serie[0]}}>{{num_serie[0]}}</option>
                        {% endfor %}
                    </select></p>
                    <p><input type="submit" value="Listar"/></p>
                </form>
                <br>
                <a href="../app.cgi/"> Voltar </a>
        </body>
    </html>