<doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title> Projeto Enunciado 3 - 5.a) Inserir </title>
        </head>
        <body  style="padding:20px">
                <h3> Listar Eventos de IVM</h3>
                <br>
                <form action="evento_reposicao/result" method="post">
                    <p>Numero de Serie IVM: <input type="text" name="num_serie"/></p></p>
                    <p><input type="submit" value="Procurar"/></p>
                </form>
                <br>
                <a href="../app.html"> Voltar </a>
        </body>
    </html>