<doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title> Projeto Enunciado 3 - 5.b) Inserir </title>
        </head>
        <body  style="padding:20px">
                <h3>Novo Retalhista</h3><br>
                <form action="inserir/update" method="post">
                    <p>TIN Retalhista: <input type="text" name="tin_novo_retalhista"/></p>
                    <p>Nome Retalhista: <input type="text" name="nome_novo_retalhista"/></p>
                    <p><input type="submit" value="Inserir"/></p>
                </form><br>
            </table><br>
                <a href="../retalhista"> Voltar </a>
        </body>
    </html>