<doctype html>
    <html>
        <head>
            <meta charset="utf-8">
            <title> Projeto Enunciado 3 - d) Listar SubCategorias </title>
        </head>
        <body  style="padding:20px">
                <h3> Listar Eventos de IVM</h3>
                <br>
                <form action="sub_categorias/result" method="post">
                    <p>Super-Categoria: <select name="nome_cat">
                        {% for categoria in categorias %}
                            <option value={{categoria[0]}}>{{categoria[0]}}</option>
                        {% endfor %}
                    </select></p>
                    <p><input type="submit" value="Listar"/></p>
                </form>
                <br>
                <a href="../app.cgi/"> Voltar </a>
        </body>
    </html>