<doctype html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <meta charset="utf-8">
        <title> Projeto Enunciado 3 - 5.a) Remover </title>
    </head>
    <body  style="padding:20px">
        {% if super_categorias and categorias_simples and simples_sem_produtos %}
            <h3>Categorias</h3>
            <h4>Super Categorias</h4>
            <table>
                <tr>
                    <th>Super Categoria</th>
                    <th>A&ccedil;&atilde;o</th>
                </tr>
                {% for categoria in super_categorias %}
                    <tr>
                        <td>{{categoria[0]}}</td>
                        <td>Nenhuma</td>
                    </tr>
                {% endfor %}
            </table><br><br>
            <h4>Categorias Simples</h4>
            <h5>Com Produtos</h5>
            <table>
                <tr>
                    <th>Categoria Simples</th>
                    <th>A&ccedil;&atilde;o</th>
                </tr>
                {% for categoria in categorias_simples %}
                    <tr>
                        <td>{{categoria[0]}}</td>
                        <td>Nenhuma</td>
                    </tr>
                {% endfor %}
            </table><br>
            <h5>Sem Produtos</h5>
            <table>
                <tr>
                    <th>Categoria Simples</th>
                    <th>A&ccedil;&atilde;o</th>
                </tr>
                {% for categoria in simples_sem_produtos %}
                    <tr>
                        <td>{{categoria[0]}}</td>
                        <td>
                            <form action='remover/update' method='post'>
                                <input type='hidden' name='nome' value='{{categoria[0]}}'>
                                <input type='submit' value='Remover'>
                    </form></td></tr>
                {% endfor %}
            </table><br>
            <a href="../categoria"> Voltar </a>
        {% else %}
            <h3>Erro</h3>
            <p>Nao foi possivel obter dados da base de dados.</p>
        {% endif %}
    </body>
</html>